h1 { 
	margin-top: 25px;
	margin-left: 10px;
	width: 350px;
	background-color: black;
	color: white; 
	font:Nasalization
	text-transform: uppercase; 
	font-family: OCR A Std, monospace;

}


h2{
	color: black;
	font-size: 21px;
}
h3 { 

	margin-left: 10px;
	width: 525px;
	background-color: black;
	color: white; 
	font:Nasalization
	text-transform: uppercase; 
	font-family: OCR A Std, monospace;
	font-size: 30px;
}
h4, p {
    color: rgb(161, 43, 43);
    font-weight: normal;
    letter-spacing: 0.5mm;
    margin-bottom: 0.5mm;
    font-family: OCR A Std, monospace;
}
h5 { 
  margin-top: 30px;
	
	margin-left: 10px;
	width: 280px;
	background-color: black;
	color: white; 
	font:Nasalization
	text-transform: uppercase; 
	font-family: OCR A Std, monospace;
	font-size: 30px;
}

h6{
  text-decoration:
  
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  letter-spacing: 0.5mm;
  margin-bottom: 0.5mm;
  font-family: OCR A Std, monospace;
}
a:link{color:black;}
a:hover{color:blue;}


div.content
{
border-style:none;
top:30px;
left:54px;
position:absolute;
background-image: url("Images/back2.jpg");
height:1100px;
width:1246px;
right:59px;
overflow-y:auto;
}

div.content1
{
border-style:none;
top:30px;
left:54px;
position:absolute;
background-image: url("Images/back2.jpg");
height:1500px;
width:1246px;
right:59px;
overflow-y:auto;
}

#home
{

height:1150px;
width:1340px;
background-color:black;
}

#home1
{

height:1560px;
width:1340px;
background-color:black;
}



div3.content
{
border-style:;
top:90px;
left:0px;
position:absolute;
background-color:white;
overflow-y:auto;
}

div4.content
{
border-style:outset;
top:300px;
left:30px;
position:absolute;
background-color: black;
height:700px;
width:1185px;
overflow-y:auto;
}

div5.content
{
border-style:outset;
top:300px;
left:30px;
position:absolute;
background-color: black;
height:1120px;
width:1185px;
overflow-y:auto;
}

pro.content
{
border-style:outset;
top:350px;
left:430px;
position:absolute;
background-color:lightgray;
height:600px;
width:750px;
overflow-y:auto;
font-family: OCR A Std, monospace;

}
pro1.content
{

border-style:outset;
top:300px;
left:200px;
position:absolute;
background-color:lightgray;
height:280px;
width:830px;
overflow-y:auto;
font-family: OCR A Std, monospace;

}
pro3.content
{

border-style:outset;
top:750px;
left:200px;
position:absolute;
background-image: linear-gradient(rgb(43, 43, 43), lightgray);
height:180px;
width:830px;
overflow-y:auto;
font-family: OCR A Std, monospace;

}
pro3.content h2{
  text-align: center;
}

.button1{
	width: 300px;
	padding: 4px;
	color: black;
  background-color: lightgray;
  font-weight: bold;
  font-size: 100%;
  text-transform: ;
  border: 3px double gray;
  border-top-color: #FC9;
  border-left-color: #FC9;
  text-align: left;
  margin-left: 50px;
  font-family: OCR A Std, monospace;

}
.button1:hover{
color: #FFF;
  background: #141414;
  cursor: pointer;
}
.button2{
	width: 300px;
	padding: 4px;
	color: black;
  background-color: lightgray;
  font-weight: bold;
  font-size: 100%;
  text-align: left;
  border: 3px double gray;
  border-top-color: #FC9;
  border-left-color: #FC9;

  margin-left: 50px;
  font-family: OCR A Std, monospace;

}


.button2:hover{
color: #FFF;
  background: #141414;
  cursor: pointer;
}
.Home{

	display: flex;
  padding:  4px;
  margin-left: 200;
}
.Feat {

display: flex;

flex-wrap: wrap; 
}
.post{
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  position: relative;   /* new stuff from here down... */
}
.Himage{
margin-top: 15px;
margin-right: -79px;
margin-bottom: -50px;
}
.Himage img{

	height: 190px;
    width: 200px;
    margin-top: 10;
    margin-left: 10;
    margin-right: 10;
    margin-bottom: 10;
    vertical-align: left;

}
.overlay {
text-align: center;
  display: none;
  
  margin-left: 50;
  font-weight: 100px;
  height: 50;
  background: rgba(20, 20, 40, .8);
  position: absolute;
  left: -40;
  right: 10;
  bottom: 75;
  color: white;
  font-size: 1.2rem;
  font-family: OCR A Std, monospace;
}
.post:hover .overlay {
  display: block;
 
}


.Image img{
width:400px ;
height:400px ;
margin-left: 420px;
margin-top:50px;
border-radius: 50%;
}

div.text1 h2{
  text-align: center;
  font-family: OCR A Std, monospace;
  margin-left: 30px;
  font-size: 20px;
}